.container-input{
    margin: 10px;
}

.inputfile-4 + label {
    color: rgb(0, 0, 0);
}
.inputfile-4{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #c39f77;
}